.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
package-lock.json
resources/win/edge.exe
resources/win/edge-windows-amd64.exe
resources/mac/edge
resources/mac/edge-darwin-amd64
resources/seek_releases
static/webpackPreloadOutput.js
coverage
.idea/
node_modules/
node_modules.zip
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
