.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
resources/*/
!resources/win/config.json
!resources/win/front-config.json
!resources/mac/front-config.json
coverage
package-lock.json
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
