.mauto {
  margin-left: auto;
  margin-right: auto;
}

.mt5 {
  margin-top: 5px;

}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mt80 {
  margin-top: 80px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb90 {
  margin-bottom: 90px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml50 {
  margin-left: 50px;
}

.mr10 {
  margin-right: 10px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr50 {
  margin-right: 50px;
}

.pl20 {
  padding-left: 20px;
}

.pl30 {
  padding-left: 30px;
}

.pl40 {
  padding-left: 40px;
}

.pr20 {
  padding-right: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pr40 {
  padding-right: 40px;
}

.ft8 {
  font-size: 0.8rem;
}

.ft12 {
  font-size: 1.2rem;
}

.ft14 {
  font-size: 1.4rem;
}

.ft16 {
  font-size: 1.6rem;
}

.ft18 {
  font-size: 1.8rem;
}

.ft20 {
  font-size: 2rem;
}

.ft24 {
  font-size: 2.4rem;
}

.ft30 {
  font-size: 3rem;
}

.ft36 {
  font-size: 3.6rem;
}

.ftpx8 {
  font-size: 8px;
}

.ftpx12 {
  font-size: 12px;
}

.ftpx14 {
  font-size: 14px;
}

.ftpx16 {
  font-size: 16px;
}

.ftpx18 {
  font-size: 18px;
}

.ftpx20 {
  font-size: 20px;
}

.ftpx24 {
  font-size: 24px;
}

.ftpx30 {
  font-size: 30px;
}

.ftpx36 {
  font-size: 36px;
}

.tr {
  text-align: right;
}

.tl {
  text-align: left;
}

.w100 {
  width: 100%;
}

.noborder {
  border: none;
}