.mt20{
  margin-top:20px;
}
.mb10{
  margin-bottom:10px;
}
.ml10{
  margin-left:10px;
}
.mr10 {
  margin-right: 10px;
}
.mt10{
  margin-top: 10px;
}
.ft12{
  font-size:12px;
}
.ft20{
  font-size:20px;
}
.ft24{
  font-size:24px;
}
.tr{
  text-align:right;
}