.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}
.mb20{
  margin-bottom:20px;
}
.mb50{
  margin-bottom:50px;
}
.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.ft12 {
  font-size: 12px;
}

.ft14 {
  font-size: 14px;
}

.ft20 {
  font-size: 20px;
}

.ft24 {
  font-size: 24px;
}

.tr {
  text-align: right;
}