$light-grey: #f7f7f7;
$theme-font-blue: #040f39;
$light-blue: #65A6FF;
$light-error:#e9546b;
$theme-color: #1b1e2f;

.bold {
  font-weight: bold;
}

.light-blue {
  color: $light-blue;
}

.light-blue-xs {
  font-size: 12px;
  color: $light-blue;
}
.light-error{
  color:$light-error;
}
.dark-grey {
  color: #9B9FB0;
}

.grey-xs {
  font-size: 12px;
  color: rgba(125, 125, 125, 0.5);
}

.light-theme-title {
  color: $theme-font-blue;
  opacity: 0.5;
  font-size: 22px;
}

.theme-font-blue {
  color: $theme-font-blue;

  &.transparent {
    opacity: 0.6;
  }
}

.theme-font-blue-bold {
  color: $theme-font-blue;
  font-weight: bold;
}

.theme-bold {
  @extend .theme-font-blue-bold
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-click {
  &:hover {
    opacity: .7;
  }
  &:active {
    opacity: 1;
  }
}

.user-no-select {
  user-select: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* Element UI */
.common-el-input {
  $height: 35px;
  height: $height;
  line-height: $height;
  border-radius: 2px;

  span,
  i {
    display: inline-block !important;
    height: $height !important;
    line-height: $height !important;
  }
}

.el-popper[x-placement^=bottom] {
  margin: 0px !important;
}

.el-select-dropdown {
  border-radius: 0px !important;
}

.popper__arrow {
  display: none !important; // select tri
}

.el-select-dropdown__list {
  padding: 0px !important;
  text-align: center;
  color: $theme-font-blue;
  @extend .theme-bold
}

.el-select-dropdown__item.selected {
  color: $theme-font-blue;
}

.account-wrap {
  .account-box {
    background: url('../images/sa.png') no-repeat left top;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }

  padding: 50px 80px 90px;
  background-color: #eeeef1;
  width: 100%;
  // height: 100vh;
  min-height: 710px;
  height:100%;

  .account-title {
    text-align: center;
    opacity: 0.6;
    font-weight: bold;
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 35px;
  }

  .el-form {
    width: 410px;
    margin: 0 auto;

    &.textarea {
      width: 500px;
    }

    .el-input__inner {
      &:focus {
        border-color: #dcdfe6;
      }

      height: 35px;
      line-height: 35px;
      border-radius: 2px;
      background: #ebecef;
    }

    .el-textarea__inner {
      &:focus {
        border-color: #dcdfe6;
      }

      height:100px;
      border-radius: 2px;
      overflow-y: auto;
      background: #ebecef;
    }

    .el-form-item.is-success .el-input__inner {
      border-color: #dcdfe6;
    }

    .el-form-item__label {
      &:before {
        content: "" !important;
      }

      height: 24px;
      line-height: 24px;
      color: $theme-font-blue;
      font-weight: bold;
    }

    .account-button {
      display: block;
      border-radius: 2px;
      margin: 20px auto 0;
      padding: 8px 20px;
    }
  }
}

.loading-content {
  text-align: center;

  .el-loading-spinner {
    margin: 0 !important;
    transform: translateY(-50%);
  }
}

