@import './theme.scss';

.theme-bg {
  @include themify {
    background-color: $color;
  }
}

.theme-font-color {
  @include themify {
    color: $font-color;
  }
}

::-webkit-scrollbar-track-piece {
  @include themify {
    background-color: $color;
  }
}

.el-loading-mask {
  // element-ui loading mask
  height: calc(100% + 10px);

  @include themify {
    background-color: $card-color;
  }
}

$light-grey: #f7f7f7;
$theme-font-blue: #202020;
$light-blue: #2F8FF0;
$light-error:#e9546b;
$theme-color: #1b1e2f;
$sub-light-color: #8BD179;



.bold {
  font-weight: bold;
}

.light-blue {
  color: $light-blue;
}

.light-blue-xs {
  font-size: 1.2rem;
  color: $light-blue;
}

.light-error {
  color: $light-error;
}

.sub-light-color {
  color: $sub-light-color;
}

.dark-grey {
  color: #9B9FB0;
}


.grey-xs {
  font-size: 1.2rem;
  color: rgba(125, 125, 125, .7);
}

.grey-color {
  color: rgba(125, 125, 125, .7);
}

.light-theme-title {
  @extend .theme-font-color;
  opacity: 0.5;
  font-size: 2.2rem;
}

.theme-font-blue {
  color: $theme-font-blue;

  &.transparent {
    opacity: 0.6;
  }
}

.el-progress-bar__outer {
  @include themify {
    background-color: $progress-bar-bg;
  }
}

.theme-font-blue-70 {
  color: rgba(32, 32, 32, .7);
}

.theme-font-blue-bold {
  color: $theme-font-blue;
  font-weight: bold;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-click {
  &:hover {
    opacity: .7;
  }

  &:active {
    opacity: 1;
  }
}

.user-no-select {
  user-select: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.break-word {
  word-break: break-word;
}

/* Element UI */
.common-el-input {
  $height: 35px;
  height: $height;
  line-height: $height;
  border-radius: 2px;

  span,
  i {
    display: inline-block !important;
    height: $height !important;
    line-height: $height !important;
  }
}

.el-popper[x-placement^=bottom] {
  margin: 0px !important;
}

.el-select-dropdown {
  border: none !important;
  border-radius: 0px !important;
}

.popper__arrow {
  display: none !important; // select tri
}

.el-select-dropdown__list {
  padding: 0px !important;
  text-align: center;
}

.el-select-dropdown__item.selected {
  color: #409EFF;
}

.account-wrap {
  .account-box {
    padding-top: 50px;
    width: 100%;
    height: 100%;
  }

  // padding: 50px 80px 90px;
  background-color: #eeeef1;
  width: 100%;
  // height: 100vh;
  min-height: 710px;
  height:100%;

  .account-title {
    text-align: center;
    font-size: 2.4rem;
    padding-top: 60px;
    padding-bottom: 35px;
  }

  .el-form {
    width: 410px;
    margin: 0 auto;
    border-radius: 2px;

    .account-button {
      display: block;
      margin: 20px auto 0;
      padding: 8px 20px;
    }
  }
}

.loading-content {
  text-align: center;

  .el-loading-spinner {
    margin: 0 !important;
    transform: translateY(-50%);
  }
}

.margin-center {
  display: block;
  margin: 0 auto;
}