html {
  font-size: 20px;
  margin: 0;
}

body,
div,
section,
a,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
form,
input,
p,
blockquote,
table,
th,
td,
embed,
object {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
h1,
h2,
h3,
h4,
h5,
h6,
th,
var {
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.clear {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

[v-cloak] {
  display: none;
}

input,
textarea {
  outline: none!important;

}

.clearfix:after {
  height: 0;
  overflow: hidden;
  clear: both;
}

.hidden {
  opacity: 0 !important;
}

.displaynone {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: #EDEFF4; 
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  /* background-color: rgba(125, 125, 125, 0.7); */
  background-color: #2F8FF0;
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  /* background-color: rgba(125, 125, 125, 0.7); */
  background-color: #2F8FF0; 
  -webkit-border-radius: 6px;
}