@import './font/ofont/iconfont.css';
@import './font/pingfang.css';
@import './globals.scss';
@import './atom.scss';
@import url('https://fonts.font.im/css?family=Open+Sans');
$theme-font-blue: #040f39;

html,
input,
button,
textarea,
select {
  font-family: 'Open Sans', 'SF Pro SC', 'PingFangSC-Regular', 'HanHei SC', 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.flex {
  display: flex;

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around
  }

  &.jc-center {
    justify-content: center
  }

  &.jc-end {
    justify-content: flex-end
  }

  &.ai-center {
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }
}

.disable {
  color: #ccc;
  opacity: 0.8;
}

.flex1 {
  flex: 1;
}

.text-underline {
  text-decoration: underline;
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-progress__text {
  display: none !important;
}

.active-blue {
  color: #65A6FF;
}

@mixin active-blue {
  color: #65A6FF;
}

.asset-icon-lg {
  width: 40px;
  height: 40px;

}

.el-dialog {
  border-radius: 1px;

  .el-dialog__header h2 {
    font-size: 24px;
    // font-weight: bold;
    color: $theme-font-blue;
    opacity: 0.7;
  }

  .el-dialog__header {
    &.dialog-header {
      padding: 0px 0px 10px 0;
    }
  }

  .el-dialog__header {
    padding-top: 15px;

    .el-dialog__title {
      color: #9B9FB0;
      font-weight: bold;
    }
  }
}


.dialog-title-border {
  height: 1px;
  width: 100%;
  background: #ccc;
  opacity: 0.3;
  margin-top: 10px;
}

.el-dialog__body,
.el-dialog--center .el-dialog__body {
  padding-top: 0px;
}