@import './font/ofont/iconfont.css';
@import './font/pingfang.css';
$theme-font-blue: #040f39;
html {
  font-family: 'SF Pro SC', 'PingFangSC-Regular', 'HanHei SC', 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.text-underline{
  text-decoration: underline;
  cursor: pointer;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-progress__text {
  display: none !important;
}
.active-blue {
  color: #65A6FF;
}
.theme-font-blue{
  color:$theme-font-blue;
  font-weight: bold;
}