$themes: ( // no coment, just for format code
  'light': ( // same as above
    'primary-font-color':#202020,
    'tertiary-font-color':#6d6d6d,
    'line-color':rgba(32,32,32,0.1),
    'color':#f9f9fb, // bgcolor
    'logo-font-color':#dfdfe1,
    'content-block-bg':#fff,
    // 'color-menu': #f9f9fb, //bgcolor menu
    'navigation-bg':#dfe2e9,
    'nav-button-bg':#c0c6d1,
    'nav-button-disabled':#C7CAD0,
    'nav-hover-color':#4f5154,
    'table-border-color':#EBEEF5,
    'card-color': #fff,
    'card-shadow':0px 2px 20px 0px rgba(196, 196, 196, 0.24),
    'pop-menu-shadow':0px 0px 3px 2px rgba(226,226,226,0.2),
    'filemanager-font-color':rgba(32, 32, 32, 0.7),
    'filemanager-aside-hover-color':#edeff4,
    'progress-bar-bg':#EBEEF5,
    'table-hover-bg':#F5F7FA,
    'font-color': #000 // General font color
  ),

  'dark': ( //
    'primary-font-color':#fff,
    'tertiary-font-color':#a6a6a6,
    'line-color':rgba(255, 255, 255, 0.1),
    'color':#2A2B30,
    'logo-font-color':#fff,
    'content-block-bg':#2A2B30,
    // 'color-menu': #35363C, //bgcolor menu
    'navigation-bg':#1c1d21,
    'nav-button-bg':#2A2B30,
    'nav-hover-color':#fff,
    'nav-button-disabled':#323436,
    'table-border-color':rgba(255, 255, 255, 0.1),
    'card-color':#35363c,
    'card-shadow':0px 2px 10px 0px rgba(32, 32, 32, 1),
    'pop-menu-shadow':0px 0px 5px 0px #202020,
    'filemanager-font-color':#fff,
    'filemanager-aside-hover-color':#202125,
    'progress-bar-bg':#1c1d21,
    'table-hover-bg':#303036,
    'font-color': #fff)) !default;
$color: null;
$card-color:null;
$font-color:null;

@mixin themify($themes:$themes) {

  @each $theme,
  $props in $themes {


    .theme-#{$theme} & {
      $primary-font-color: map-get($props, 'primary-font-color') !global;
      $tertiary-font-color: map-get($props,'tertiary-font-color')!global;
      $color: map-get($props, 'color') !global;
      $logo-font-color:  map-get($props, 'logo-font-color') !global;
      $content-block-bg:map-get($props, 'content-block-bg') !global;
      $line-color:map-get($props, 'line-color') !global;
      // $color-menu:map-get($props, 'colorMenu') !global;
      $card-color: map-get($props, 'card-color') !global;
      $card-shadow: map-get($props, 'card-shadow') !global;
      $pop-menu-shadow: map-get($props, 'pop-menu-shadow') !global;
      $font-color: map-get($props, 'font-color') !global;
      $navigation-bg: map-get($props, 'navigation-bg') !global;
      $nav-button-bg: map-get($props, 'nav-button-bg') !global;
      $nav-button-disabled: map-get($props, 'nav-button-disabled') !global;
      $nav-hover-color: map-get($props, 'nav-hover-color') !global;
      $table-border-color: map-get($props, 'table-border-color') !global;
      $filemanager-font-color: map-get($props, 'filemanager-font-color') !global;
      $filemanager-aside-hover-color: map-get($props, 'filemanager-aside-hover-color') !global;
      $progress-bar-bg: map-get($props, 'progress-bar-bg') !global;
      $table-hover-bg: map-get($props, 'table-hover-bg') !global;
      @content;

      $primary-font-color: null !global;
      $tertiary-font-color: null !global;
      $color: null !global;
      $logo-font-color: null !global;
      $content-block-bg: null !global;
      $line-color: null !global;
      // $color-menu: null !global;
      $card-color: null !global;
      $pop-menu-shadow: null !global;
      $card-shadow: null !global;
      $font-color: null !global;
      $navigation-bg: null !global;
      $nav-button-bg: null !global;
      $nav-button-disabled: null !global;
      $nav-hover-color: null !global;
      $table-border-color: null !global;
      $filemanager-font-color: null !global;
      $filemanager-aside-hover-color: null !global;
      $progress-bar-bg: null !global;
      $table-hover-bg: null !global;
    }

  }
}